/* .vis-item-visible-frame {
    z-index: 111111;
    position: absolute;
    top: 0;
} */

.vis-background {
  background-color: #0b2032;
}
.vis-label {
  border: 1px solid black !important;
  padding: 1em;
}
.vis-grid {
  display: none;
}

.vis-foreground .vis-group {
  border-bottom: 1px solid black !important;
}

/* ABOVE GROUP BOXES BORDER */
.vis-panel.vis-center,
.vis-panel.vis-left,
.vis-panel.vis-right {
  border: none !important;
}
/* CENTER PANE BORDER */
.vis-panel.vis-bottom,
.vis-panel.vis-center,
.vis-panel.vis-top {
  border: 0px solid black !important;
}
